<br /><br />
<div class="alert alert-success">
    <strong>As an administrator,</strong> you can make changes to client's profile by using the following buttons
</div>

<div class="panel panel-info">
    <div class="panel-heading">Membership settings</div>
    <div class="panel-body">
        @Html.ActionLink("View all users", "List", "Admin", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("View loan requests", "ViewLoanRequests", "Admin", null, new { @class = "btn btn-danger" })

        @Html.ActionLink("View benefit requests", "ViewBenefitRequests", "Admin", null, new { @class = "btn btn-warning" })

        @Html.ActionLink("View investment requests", "ViewInvestmentRequests", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">Page Settings</div>
    <div class="panel-body">
        @Html.ActionLink("Edit Contact Us", "", "", null, new { @class = "btn btn-warning" })
    </div>
</div>
