@model System.Collections.Generic.IEnumerable<Wams.ViewModels.Account.Profile>
<br /><br />
<p>
    <select id="searchBy" class="form-control" style="display:inline-block; float: left; width: 130px">
        <option value="">Search By...</option>
        <option value="firstname">First name</option>
        <option value="lastname">Last name</option>
        <option value="dob">DOB</option>
        <option value="memberId">Member ID</option>
    </select>
    <input type="text" id="search" placeholder="Search" class="form-control text-box single-line" />
</p>
<div>
    <table class="table table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="firstname">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="lastname">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="dob">
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipType)
                </td>
                <td>
                    @Html.ActionLink("Details", "UserDetails", new {id = item.MemberId}, new {@class = "btn btn-info"})
                </td>
            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $(function () {

        var search = function (searchTerm) {
            var criteria = $("#searchBy").val();
            if (!criteria) {
                alert("Please select by...")
                return;
            }

            $("." + criteria).each(function (index, element) {
                if ($(this).html().trim().toLowerCase().indexOf(searchTerm) == -1) {
                    $(this).parents("tr").hide();
                }
            })
        }

        $("#search").on("keyup", function () {
            var text = $(this).val();
            if (text) {
                search(text);
            } else {
                $("tr").show();
            }
        })
    });
</script>
