@model Wams.ViewModels.MemberDues.ViewMemberDues

<br/>
<h3 class="printOnly">Print dues statement</h3>
<div>
    <div>Welfare Association</div>
    <div>Member Id: @Model.MemberId</div>
    <div>Member name: @Model.MemberName</div>
    <div>Membership type: @Model.MembershipType</div>
    @if (!string.IsNullOrEmpty(Model.Address))
    {
        <div>Member Location: @Model.Address</div>
    }

</div>
<br/>

<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Month
        </th>
        <th>
            Year
        </th>
        <th>
            Added Date
        </th>
        <th>
            Added By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Dues)
    {
        <tr class="@if (!item.Paid)
                   {
                       <text>alert-danger</text>
                   }">
            <td>
                &#x20b5; @Html.DisplayFor(modelItem => item.Amount) ghc
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuesMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuesYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @if (!item.Paid)
                {
                    <span class="alert-danger">Unpaid</span>
                }
                else
                {
                    @Html.ActionLink("Edit", "EditMemberDues", new {duesid = item.DuesId})
                }
            </td>
        </tr>
    }

</table>

<input type="submit" id="printBtn" value="Print" class="btn btn-warning" />
