@model IEnumerable<Wams.ViewModels.MemberInvmt.MemberInvmtViewModel>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuesMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuesYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="@if (!item.Paid) { <text>alert-danger</text> }">
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    &#x20b5; @Html.DisplayFor(modelItem => item.Amount)  ghc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuesMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuesYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy)
                </td>
                <td>
                    @if (!item.Paid)
                    {
                        <span class="alert-danger">Unpaid</span>
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "EditMemberInvmt", new { invmtid = item.InvmtId })
                    }
                </td>
            </tr>
        }

    </table>

<input type="submit" id="printBtn" value="Print" class="btn btn-warning" />

