@model IEnumerable<Wams.ViewModels.Account.LoanRequest>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    @Html.HiddenFor(modelItem => item.MemberId)
    @Html.HiddenFor(modelItem => item.PendingLoanId)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { model = item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PendingLoanId })
        </td>
    </tr>
}

</table>
