@model Wams.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<hr />
<p>@Html.ActionLink("View your statement", "ChangePassword", "Account")</p>
<p>@Html.ActionLink("Deposit", "ChangePassword", "Account")</p>
<p>@Html.ActionLink("Withdraw", "ChangePassword", "Account")</p>

<hr />

<p>@Html.ActionLink("Change password", "ChangePassword", "Account")</p>

<p>@Html.ActionLink("Change Picture", "ChangePassword", "Account")</p>


@*@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
