<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title WAMS Application</title>*@
    <title>Welfare Account Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="~/Scripts/datepicker/pickmeup.min.css" rel="stylesheet" />
    <script src="~/Scripts/datepicker/jquery.pickmeup.min.js"></script>

    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" >
        <div class="container">
            <div class="navbar-header navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-default" href="/">
                    @*<img src="@Url.Content("~/Images/logo.png")" width="100" height="40" />*@
                    Welfare System
                </a>
                @*@Html.ActionLink("UPACAR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @Html.Partial("_LogOnPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div align="center">
                @*@Html.ActionLink("About Us", "#", "#") | 
                @Html.ActionLink("Terms and Conditions", "#", "#") | 
                @Html.ActionLink("Cookie Policy", "#", "#") | 
                @Html.ActionLink("Privacy Policy", "#", "#") |
                @Html.ActionLink("Contact Us", "#", "#") |*@ 
                <a href="http://uwwag.org/">Visit uwwag</a></div>
            <div align="center">
                <p>&copy; @DateTime.Now.Year - wams.com Application. All rights reserved</p>
            </div>
        </footer>
    </div>
</body>
</html>
