@model Wams.ViewModels.MemberInvmt.ViewMemberInvestment

<p>
    @Html.ActionLink("Request for withdrawal", "WithdrawInvestment", null, new {@class = "btn btn-info"})
</p>

<br/>
<h3 class="printOnly">Print investment statement</h3>
<div>
    <div>Welfare Association</div>
    <div>Member id: @Model.MemberId</div>
    <div>Member name: @Model.MemberName</div>
    <div>Membership type: @Model.MembershipType</div>
    @if (!string.IsNullOrEmpty(Model.Address))
    {
        <div>Member Location: @Model.Address</div>
    }
    
</div>
<br/>

<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Month
        </th>
        <th>
            Year
        </th>
        <th>
            Paid
        </th>
    </tr>

@foreach (var item in Model.Investments)
{
    <tr class="@if (!item.Paid) { <text>alert-danger</text> }">
        <td>
            @if (!item.Paid)
            {
                <span>&#x20b5; <span class="alert-danger">@Html.DisplayFor(modelItem => item.Amount)</span></span>

            }
            else
            {
                <span>&#x20b5; @Html.DisplayFor(modelItem => item.Amount) ghc</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuesMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuesYear)
        </td>
        <td>
            @if (!item.Paid)
            {
                <span class="alert-danger">Unpaid</span>
            }
        </td>
    </tr>
}
    <tr>
        <td>Total = <span>&#x20b5; @Model.TotalInvested ghc</span></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

<br/>
@if (Model.Withdrawals.Count > 0)
{
<div class="panel panel-success">
    <div class="panel-heading">Granted Withdrawals</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Request Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Payment Method
                </th>
            </tr>

            @foreach (var item in Model.Withdrawals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HowToPayYou)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Total = <span>&#x20b5; @Model.Withdrawals.Sum(x => x.Amount) ghc</span></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>
}

<h4>Remaining investment amount = <span>&#x20b5; @(Model.TotalInvested - Model.Withdrawals.Sum(x => x.Amount)) ghc</span></h4>
<br />
<input type="submit" id="printBtn" value="Print" class="btn btn-warning" />