@model Wams.ViewModels.MemberInvmt.WithdrawInvestmentRequest

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Withdraw investment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HowToPayYou, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HowToPayYou, Model.HowToPayYouOptions, "Select one", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HowToPayYou, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Request Withdraw" class="btn btn-primary" />
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#RequestDate').pickmeup();
            });
        </script>
    </div>
}
